**/bin/
**/obj/
**/.vs/
**/.git/
**/node_modules/
**/*.user
**/*.suo
**/Migrations/
**/__pycache__/
*.md
*.pptx
*.py
*.txt
*.xml
*.log
outputs/
docx_images/
pptx_images/
CTemp/
Cynapharm-Mobile/
Cynapharm-Mobile.Tests/
Cynapharm/
.github/
.claude/